/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define TEXT 0
#define SYM 1
#define SYS 2
#define MOD 3

/ {
    chosen { zmk,physical-layout = &five_col_layout; };

    behaviors {
        comma_semicolon: comma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_SEMICOLON";
            bindings = <&kp COMMA>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        period_colon: period_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "PERIOD_COLON";
            bindings = <&kp PERIOD>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        minus_plus: minus_plus {
            compatible = "zmk,behavior-mod-morph";
            label = "MINUS_PLUS";
            bindings = <&kp MINUS>, <&kp PLUS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        text_layer {
            display-name = "COLEMAK";

            // -------------------------------------------------------------------
            // |  Q  |  W  |  F  |  P  |  G  |     |  J  |  L  |  U  |  Y  | '/" |
            // |  A  |  R  |  S  |  T  |  D  |     |  H  |  N  |  E  |  I  |  O  |
            // |  Z  |  X  |  C  |  V  |  B  |     |  K  |  M  | ,/; | ./: | -/+ |
            //             | SYM |  ␣  |  ⭾  |     |  ⏎  | MOD |  ⌫  |

            bindings = <
                &kp Q  &kp W  &kp F    &kp P      &kp G    &kp J    &kp L    &kp U             &kp Y          &kp APOSTROPHE
                &kp A  &kp R  &kp S    &kp T      &kp D    &kp H    &kp N    &kp E             &kp I          &kp O
                &kp Z  &kp X  &kp C    &kp V      &kp B    &kp K    &kp M    &comma_semicolon  &period_colon  &minus_plus
                              &to SYM  &kp SPACE  &kp TAB  &kp RET  &mo MOD  &kp BSPC
            >;
        };

        symbol_layer {
            display-name = "SYMBOL";

            // -------------------------------------------------------------------
            // |  @  |  ^  |  #  |  /  |  ~  |     |  (  |  7  |  8  |  9  |  )  |
            // |  %  |  _  |  *  |  \  |  `  |     |  {  |  4  |  5  |  6  |  }  |
            // |  &  |  $  |  <  |  |  |  >  |     |  [  |  1  |  2  | 3   |  ]  |
            //             | SYS |  ?  |  !  |     |  =  | MOD |  0  |

            bindings = <
                &kp AT_SIGN    &kp CARET       &kp POUND      &kp SLASH      &kp TILDE         &kp LEFT_PARENTHESIS  &kp N7   &kp N8  &kp N9  &kp RIGHT_PARENTHESIS
                &kp PERCENT    &kp UNDERSCORE  &kp ASTERISK   &kp BACKSLASH  &kp GRAVE         &kp LEFT_BRACE        &kp N4   &kp N5  &kp N6  &kp RIGHT_BRACE
                &kp AMPERSAND  &kp DOLLAR      &kp LESS_THAN  &kp PIPE       &kp GREATER_THAN  &kp LEFT_BRACKET      &kp N1   &kp N2  &kp N3  &kp RIGHT_BRACKET
                                               &to SYS        &kp QUESTION   &kp EXCLAMATION   &kp EQUAL             &mo MOD  &kp N0
            >;
        };

        system_layer {
            display-name = "SYSTEM";

            // ------------------------------------------------------------------------------
            // |  F1  |  F2  |  F3  |  F4  | VOLU |      | BRIU | HOME | PGDN | PGUP | END  |
            // | 🖱️⬅️ | 🖱️⬆️ | 🖱️⬇️ | 🖱️➡️ | ESC  |      | MENU | LEFT | RGHT | UP   | DOWN |
            // |  F1  |  F2  |  F3  |  F4  | VOLD |      | BRID |  F8  |  F9  | F10  | F11  |
            //               | TEXT | RCLK | LCLK |      |      | SCRD | SCRU |

            bindings = <
                &kp F1          &kp F2        &kp F3        &kp F4           &kp C_VOLUME_UP    &kp C_BRIGHTNESS_INC  &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END
                &mmv MOVE_LEFT  &mmv MOVE_UP  &mmv MOVE_UP  &mmv MOVE_RIGHT  &kp ESCAPE         &kp K_APPLICATION     &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT
                &kp F5          &kp F6        &kp F7        &kp F8           &kp C_VOLUME_DOWN  &kp C_BRIGHTNESS_DEC  &kp F9    &kp F10        &kp F11      &kp F12
                                              &to TEXT      &mkp LCLK        &mkp RCLK          &msc SCRL_DOWN        &mo MOD   &msc SCRL_UP
            >;
        };

        modifier_layer {
            display-name = "MOD";

            // --------------------------------------------------------
            // |    |    |    |    |    |    |    |    |    |    |    |
            // | L⌘ | L⎇ | L⎈ | L⇧ |    |    |    | R⇧ | R⎈ | R⎇ | R⌘ |
            // |    |    |    |    |    |    |    |    |    |    |    |
            //           | 🔓 |    |    |    |    |    |    |

            bindings = <
                &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &studio_unlock  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
