/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV 1
#define MEDIA 2
#define NUM 3
#define SYM 4
#define FUN 5
#define ADJUST 6

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
};

/ {
    chosen { zmk,physical-layout = &five_col_layout; };

    behaviors {
        comma_semicolon: comma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_SEMICOLON";
            bindings = <&kp COMMA>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        period_colon: period_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "PERIOD_COLON";
            bindings = <&kp PERIOD>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        minus_plus: minus_plus {
            compatible = "zmk,behavior-mod-morph";
            label = "MINUS_PLUS";
            bindings = <&kp MINUS>, <&kp PLUS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        text_layer {
            display-name = "COLEMAK";

            // --------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |
            // | GUI/A | ALT/S | CTRL/D | SHIFT/F | G | H | SHIFT/J | CTRL/K | ALT/L | GUI/' |
            // |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  /  |
            //       | ESC/MEDIA | SPACE/NAV | TAB/FUN | RET/SYM | BSPC/NUM | DEL/ADJ |

            bindings = <
  &kp Q  &kp W  &kp F  &kp P  &kp G  &kp J  &kp L  &kp U  &kp Y  &kp APOSTROPHE      &kp A  &kp R  &kp S  &kp T  &kp D  &kp H  &kp N  &kp E  &kp I  &kp O      &kp Z  &kp X  &kp C  &kp V  &kp B  &kp K  &kp M  &comma_semicolon  &period_colon  &minus_plus    &to 1  &kp SPACE  &kp TAB  &kp RET  &mo 3  &kp BSPC
            >;
        };

        symbol_layer {
            display-name = "SYMBOL";

            // ------------------------------------------------------------------
            // |  {  |  &  |  *  |  (  |  }  |     |       |      |     |     |
            // |  :  |  $  |  %  |  ^  |  +  |     | SHIFT | CTRL | ALT | GUI |
            // |  ~  |  !  |  @  |  #  |  |  |     |       |      |     |     |
            //                  |  (  |  )  |  _  |     |     |     |

            bindings = <
  &kp AT_SIGN  &kp CARET  &kp POUND  &kp SLASH  &kp TILDE  &kp LEFT_PARENTHESIS  &kp N7  &kp N8  &kp N9  &kp RIGHT_PARENTHESIS      &kp PERCENT  &kp UNDERSCORE  &kp ASTERISK  &kp BACKSLASH  &kp GRAVE  &kp LEFT_BRACE  &kp N4  &kp N5  &kp N6  &kp RIGHT_BRACE      &kp AMPERSAND  &kp DOLLAR  &kp LESS_THAN  &kp PIPE  &kp GREATER_THAN  &kp LEFT_BRACKET  &kp N1  &kp N2  &kp N3  &kp RIGHT_BRACKET    &to 2  &kp QUESTION  &kp EXCLAMATION  &kp EQUAL  &mo 3  &kp NUMBER_0
            >;
        };

        system_layer {
            display-name = "SYS";

            // ------------------------------------------------------------------
            // |     |     |      |       |     |      |      |      |      |      |
            // | GUI | ALT | CTRL | SHIFT |     | CAPS | LEFT | DOWN |  UP  | RIGHT|
            // |     |     |      |       |     | INS  | HOME | PGDN | PGUP | END  |
            //                  |     |     |     |     |     |     |

            bindings = <
  &kp F1  &kp F2  &kp F3  &kp F4  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_INC  &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END      &trans  &trans  &trans  &trans  &kp ESCAPE  &kp K_APPLICATION  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT      &kp F5  &kp F6  &kp F7  &kp F8  &kp C_VOLUME_DOWN  &kp C_BRIGHTNESS_DEC  &kp F9  &kp F10  &kp F11  &kp F12    &to 0  &trans  &trans  &trans  &mo 3  &trans
            >;
        };

        modifier_layer {
            display-name = "MOD";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &studio_unlock  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
